name: CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Install Go
        uses: actions/setup-go@v6.1.0
        with:
          go-version-file: go.mod
          cache: true

      - name: Build
        run: make

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: latest
