name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Install Go
        uses: actions/setup-go@v5.0.2
        with:
          go-version-file: go.mod

      - name: Build
        run: make
