name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Install Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.15

      - name: Checkout
        uses: actions/checkout@v2.3.4

      - name: Build
        run: make
