name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Install Go
        uses: actions/setup-go@v2.1.5
        with:
          go-version: 1.15

      - name: Checkout
        uses: actions/checkout@v3.0.2

      - name: Build
        run: make
