name: Vulnerability Check

on: [push, pull_request]

jobs:
  vulncheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Install Go
        uses: actions/setup-go@v6.0.0
        with:
          go-version-file: go.mod
          cache: true

      - name: Check for vulnerabilities
        run: go run golang.org/x/vuln/cmd/govulncheck@latest ./...
